version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: willitmod-bch-solo-pool_www_1
      APP_PORT: 80
      PROXY_AUTH_ADD: "false"

  ckpool:
    image: ghcr.io/getumbrel/docker-ckpool-solo:590fb2a@sha256:4e6b8f4f9c7d74c2111a6e082a2bbdc936fa510989a81e7cef714d1da944336b
    command: "-k -B -c /config/ckpool.conf"
    user: "1000:1000"
    restart: on-failure
    stop_grace_period: 30s
    ports:
      - "3333:3333/tcp"
    volumes:
      - ${APP_DATA_DIR}/data/config:/config:ro
      - ${APP_DATA_DIR}/data/www:/www

  www:
    image: halverneus/static-file-server:v1.8.11@sha256:2e91ce7ffb8519eeb882ba52d75c191ca6c921c16438447362128ef73ee2ea7e
    user: "1000:1000"
    environment:
      - FOLDER=/www
      - PORT=80
    volumes:
      - ${APP_DATA_DIR}/data/www:/www:ro
    restart: on-failure

